{% extends "base.html" %}
{% block content %}

<section class="hero" id="home">
  <div class="wrap">
    <h1>
      <span class="line">{{ site.tagline_top }}</span>
      <span class="line"><em>{{ site.tagline_em }}</em> {{ site.tagline_after }}</span>
    </h1>
    <div class="hero-ctas">
      <a href="{{ base_url }}/tagliche-impulse/" class="btn">Tagesimpulse</a>
      <a href="{{ base_url }}/mein-weg/" class="btn">Mein Weg</a>
      <a href="{{ base_url }}/angebotsuebersicht/" class="btn">Angebotsübersicht</a>
      <a href="{{ base_url }}/wanderungen/frillensee/" class="btn solid">Aktuell</a>
    </div>
  </div>
</section>

{% endblock %}
